
{{history-head}}

<div class="history-table">
  <table>
    <tr>
      <th>Date</th> 
      <th>Meat</th> 
      <th>Amount</th> 
      <th>CO <sub>2</sub></th> 
      <th>H<sub>2</sub>O</th> 
      <th>Animal</th> 
    </tr> 
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>


</div>

<!--{{results}}-->