
<div class="maths"> 
  <form method="post" action="/meatMath">
    <select class="meat-type" name="meat">Meat</a>
      <option name="beef">Beef</option>
      <option name="lamb">Lamb </option>
      <option name="pork">Pork </option>
      <option name="chicken">Chicken </option>
    </select>
  </div>

  <div class="qty">
    <input class="quantity" type="text" name="amount">Quantity</a>
     
  </form>
    <!-- ADD IMAGE HERE -->
    <img src=" " alt=" " >  
  </div> 
  
 


