
<div class="maths"> 
  
  <form method="post" action="/meatMath">
    <select class="meat-type" name="meat">Meat</a>
      <option name="beef">Beef</option>
      <option name="lamb">Lamb </option>
      <option name="pork">Pork </option>
      <option name="chicken">Chicken </option>
    </select>
  </div>
  <div class="users">
     <select class="user" name="id">User</a>
      {{!-- <option name="">Mike</option> --}}
      <option name="1">Bron</option>
      <option name="3"> Indi</option>
      <option name="2">Sam </option>
      {{!-- <option name=" ">Anthony</option> --}}
    </select>
  </div>

  <div>
    Quantity: <input placeholder="grams" class="qty" type="text" name="amount"></br>
    Date      <input placeholder="15/06/2018"class="date" type="text" name="date"></br>
   <button class="subBtn" type="button" name="submit">Submit</button></br>
  </form>
    <!-- ADD IMAGE HERE -->
    <img src=" " alt=" " >  
  </div> 
  
 

