
<div class="maths"> 
  
    <form method="post" action="/meatMath">

      <p>User </p>
      <select class="user" name="id">
      {{#each users}}
        <option name="user" value="{{id}}">{{name}}</option>
      {{/each}}
      </select>

      <p>Meat </p>
      <select class="meat-type" name="meat">
      {{#each meats}}
        <option name="meat" value="{{id}}">{{type}}</option>
      {{/each}}
      </select>

      <p>Quantity </p>
      <input placeholder="grams" class="qty" type="text" name="amount"></br>
      <p>Date </p>
      <input placeholder="15/06/2018"class="date" type="text" name="date"></br>
      
      <button class="subBtn" type="submit">Submit</button></br>

    </form>

    <img src="/images/cowface.png " alt="cow face">  

</div>  
  
 

