
<div class="maths"> 
  
  <div class="users">
<<<<<<< HEAD
    <select class="user" name="id">
      <optgroup label="User">
        <option name="1">Bron</option>
        <option name="3"> Indi</option>
        <option name="2">Sam </option>
      </optgroup>
    </select>
  </div>

  <div class="meat-form"></div>

    <form method="post" action="/meatMath">

      <select class="meat-type" name="meat">Meat</a>
        <option name="beef">Beef</option>
        <option name="lamb">Lamb </option>
        <option name="pork">Pork </option>
        <option name="chicken">Chicken </option>
      </select>


      <div class="qtybox">
        Quantity: <input placeholder="grams" class="qty" type="text" name="amount"></br>
        Date      <input placeholder="15/06/2018"class="date" type="text" name="date"></br>
        <button class="subBtn" type="button" name="submit">Submit</button></br>
      </div>

    </form>

    <img src="/images/cowface.png " alt="cow face">  

  </div>

</div>  
=======
     <select class="user" name="id">
      {{!-- <option name="">Mike</option> --}}
      <option name="1">Bron</option>
      <option name="3"> Indi</option>
      <option name="2">Sam </option>
      {{!-- <option name=" ">Anthony</option> --}}
    </select>
  </div>

  <div>
    Quantity <input placeholder="grams" class="qty" type="text" name="amount"></br>
    Date     <input placeholder="15/06/2018"class="date" type="text" name="date"></br>
   <button class="subBtn" type="button" name="submit">Submit</button></br>
  </form>
    <!-- ADD IMAGE HERE -->
    <img src=" " alt=" " >  
  </div> 
>>>>>>> 41fc87e45dc3991eac88a7e8ba2df0f37e896a36
  
 

