
<div class="math">
  <link href="#" class="dropdown" sizes="">Name:</a>
    <ul>
      <li><option value=" " class=" ">Beef</option></li>
      <li><option value=" " class=" ">    </option></li>
      <li><option value=" " class=" ">    </option></li>
      <li><option value=" " class=" ">    </option></li>
      <li><option value=" " class=" ">    </option></li>
      <li><option value=" " class=" ">    </option></li>
    </ul>
</div>

<form name=" " method=" " action=" ">
  <select name="">
    {{#each}}
  <!--add any relivant hb tags here


    {{/each}}  
  </select>
  <!-- ADD IMAGE HERE -->
  <img src=" " alt=" " >
</form>