
<div class="maths"> 
  
  <div class="meat-form"></div>

    <form method="post" action="/meatMath">
      User:
      <select class="user" name="id">
        
          <option placeholder="User" name=""></option>
          <option name="1">Bron</option>
          <option name="3"> Indi</option>
          <option name="2">Sam </option>
      
      </select><br>
    
      Meat Type:
      <select class="meat-type" name="meat">
        <option name="beef">Beef</option><br>
        <option name="lamb">Lamb </option>
        <option name="pork">Pork </option>
        <option name="chicken">Chicken </option>
      </select>


      <div class="qtybox">
        Quantity: <input placeholder="grams" class="qty" type="text" name="amount"></br>
        Date: <input placeholder="15/06/2018"class="date" type="text" name="date"></br>
        <button class="subBtn" type="submit">Submit</button></br>
      </div>

    </form>

    <img src="/images/cowface.png " alt="cow face">  

  </div>

</div>  
  
 

