
{{header}}

<div class="maths"> 
  <form method="post " action="/ ">
    <select class="meat" sizes=" ">Meat</a>
      <optgroup class=" "label=" ">
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
      </optgroup>
    </select>
  </div>

  <div class="qty">
    <select class="quantity" sizes=" ">Quantity</a>
      <optgroup label="qty">
          <option value=" ">     </option>
          <option value=" ">     </option>
          <option value=" ">     </option>
          <option value=" ">     </option>
      </optgroup>
    </select> 
  </form>
    <!-- ADD IMAGE HERE -->
    <img src=" " alt=" " >  
  </div>  

