<div class="results">
 
  <h2> RESULTS </h2> 
  <div class="results-box">

    <div>
      <img class="results-img" src="/images/co2.png" alt="Carbon Dioxide Emissions">
      <p id="results-co2">  {{!-- number of co2 emissions --}}   </p>
    </div>

    <div>
      <img class="results-img" src="/images/water-icon.png" alt="Water Wastage">
      <p id="results-h20">  {{!-- number of water waste(?) --}}   </p>
    </div>

    <div>
      <img class="results-img" src="/images/car-icon.png" alt="Car emisssions">
      <p id="results-car">  {{!-- number of petrol or something idk --}}   </p>
    </div>


  </div>
  
</div>