<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<<<<<<< HEAD
    <title>Document</title>
    <link href="./main.ss" rel="stylesheet">
=======
    <title>Meatless</title>
>>>>>>> 4cf19236f1e40da4b808dcec867051ae982bd0b6
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <a href="home">toHome</a>
    {{>header}}

    {{>maths}}

    {{>results}} 

    {{>footer}}
</body>
</html>