* {
  box-sizing: border-box;
  border: 0.5px solid transparent;
}

html, body {
  max-width: 100%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}



a {
	color: black;
  text-decoration: none;
}



header {
  width: 80%;
  background: white;
  padding: 2rem;
  height: auto;
  overflow: hidden;
}

header img {
  width: 80%;
}

.maths {
  background-color: green;
  color: black;
  font-size: 1rem;
}


form {
  width: 80%;
  font-size: 1rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}


.user {
  width: 100%;
  font-size: 1rem;
  padding: 12px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.maths img {
  width: 40%;
  margin: 1rem;
  margin-bottom: 2rem;
  transition: transform 2s;
}

.maths img:hover {
  transform: rotate(1080deg) !important;
}

.results {
  width: 100%;
  background: black;
  color: white;
}

.results img {
  width: 60%;
  padding: 5%;
}

footer {
  width: 100%;
  background: white;
  color: black;
}

h5 {
  font-size: 1rem;
}

/* Index page */



/* User page */


