* {
  box-sizing: border-box;
  border: 0.5px solid transparent;
}

html, body {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

a {
	color: black;
  text-decoration: none;
}

header {
  width: 100%;
  background: white;
}

h1 {
  font-size: 4rem;
}

.maths {
  background-color: green;
  color: black;
}

.users {
  width: 80%;
  padding: 12px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.meat-form {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


footer {
  width: 100%;
  background: black;
  color: white;
}

h5 {
  font-size: 3rem;
}

/* Index page */



/* User page */


